<div>
    <form [formGroup]="itemForm">
        <label>
            Category
            <input type="text" 
                   formControlName="category"
                   aria-label="category"
                   matInput
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                @for (category of categories; track category.name){
                    <mat-option [value]="category">{{category.name}}</mat-option>
                }
            </mat-autocomplete>
            <button (click)="openNewCategory()">New Category</button>
        </label>
        <label>
            Amount
        </label>
    </form>
</div>