<mat-dialog-content>
    <form [formGroup]="categoryForm"
    (ngSubmit)="createCategory()">
        <label>
            Category Name
            <input type="text" formControlName="name" />
        </label>
        <label>
            Unit
            <select>
                @for (unit of units; track unit.abbreviation){
                    <option ngValue="unit">{{unit.abbreviation}}</option>
                }
            </select>
        </label>
        <label>
            Density (optional)
            <input type="number" formControlName="density"/>
        </label>
        <label>
            Estimated Expiry (in days)
            <input type="number" formControlName="estimatedExpiryTime"/>
        </label>
        <button type="submit">Submit</button>
    </form>
</mat-dialog-content>